<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder to you.</h1>
    <p>
      Your activity are near deadline date. Please consider your task is done.
    </p>
  </body>
</html>
